h1 {
font-family: 'EB Garamond';
text-decoration: underline;
}
body {
    background-color: rgb(165, 158, 149);
}

.text {
max-width: 500px;
}
.ending {
    font-size: large;
}
    

img {
    float: right;
}
.everything {
    margin-right: auto;
    margin-left: auto;
    display: block;
    max-width: 1200px;
    font-family: 'Slabo 27px';
}